/* form  */
form {
    margin-top: 2rem;
}

label, input {
    display: block;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    border: 1px solid (--strip-color-black);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

input:not(:last-child){
    margin-bottom: 1rem;
}

form .date-cvv {
    display: flex;
    justify-content: space-between;
}
