.credit-card {
    position: relative;
    margin: 10% auto;
    width: 500px;
    background: var(--container-color);
    padding: 3rem;
    border-radius: 1rem;
}

.container__credit-card {
    position: relative;
    width: 350px;
    height: 220px;
    margin: auto;
    transform-style: preserve-3d;
    transition: 0.5s ease;
}

.card-front, .card-back {
    position: absolute;
    width: inherit;
    height: inherit;
    background: var(--card-color);
    border-radius: 1rem;
    perspective: 800px;
    backface-visibility: hidden;
}

/* Front Card  */
.card-front{
    padding: 2rem 1rem;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branding img {
    width: 50px;
    height: auto;
}

.card-number {
    color: var(--number-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-top: 3rem;
}

.card-details {
    color: var(--number-color);
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

.card-details span {
    display: block;
}

.card-details #card-holder-name {
    text-transform: uppercase;
}


.card-details #validity {
    text-align: right;
}

/* Back Card*/
.card-back {
    transform: rotateY(180deg);
    /* position: absolute; */
}

.card-back .black-strip{
    position: relative;
    background-color: var(--strip-color-black);
    height: 50px;
    top: 2rem;
}

.card-back .white-strip {
    position: relative;
    top: 3rem;
    text-align: right;
}

.card-back .white-strip span{
    margin-right: 1rem;
}

.card-back .white-strip #cvv-display{
    height: 30px;
    background-color: var(--strip-color-white);
    margin-top: 0.5rem;
}

.card-back .visa-logo {
    position: absolute;
    width: 50px;
    margin-top: 4rem;
    right: 1rem;
}


/* form  */
form {
    margin-top: 2rem;
}

label, input {
    display: block;
}
